[defaults]
host_key_checking = False
inventory = ./inventory
roles_path = ./roles
library = library:/usr/share/dci/modules/
module_utils       = /usr/share/dci/module_utils/
callback_plugins   = /usr/share/dci/callback/
remote_tmp = /tmp
command_warnings = True
ansible_managed = "This file is managed by Ansible - changes may be lost"
retry_files_enabled = False
forks = 8
stdout_callback = yaml
callback_whitelist = debug,profile_tasks,dci

[privilege_escalation]
become_method = sudo

[inventory]
unparsed_is_failed = True
